* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: altehassgroteskbold;
  src: url(altehaasgroteskbold-webfont.woff2);
}
@font-face {
  font-family: altehassgroteskregular;
  src: url(altehaasgroteskregular-webfont.woff2);
}

main {
  max-width: 1200px;
  margin-inline: auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  background-color: white;
}
nav {
  background-color: #f97bf9;
  font-family: "altehassgroteskbold", sans-serif;
  font-size: 3rem;
}
nav a {
  color: #f70000;
}
h1 {
  background-color: #fff799;
  font-family: "altehassgrotestbold", sans-serif;
  color: black;
  font-size: 5rem;
}
main p {
  background-color: #fff799;
  font-family: "altehassgroteskregular", sans-serif;
  color: black;
  font-size: 0.8rem;
}
footer {
  background-color: white;
  font-family: "altehassgroteskregular", sans-serif;
  color: #f97bf9;
  font-size: 1, 5rem;
}
